# OS-specific
.DS_Store

# Editor swapfiles
.*.sw?
*~

# VSCode
#
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Vagrant
#
.vagrant/

# Log files
*.log

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

#
# https://www.toptal.com/developers/gitignore/
#

